.error-404 {
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
}
.text-404 {
  font-size: 250px;
  animation: 1s mostrarIzquierda;
  font-family: Quicksand, sans-serif;
  font-weight: 900;
}
.bg-linear {
  background: linear-gradient(to bottom, #ff9800, #a76604);
}
.principal-color {
  color: #ff9800 !important;
  font-size: 18px;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
}
.btn-volver {
  color: var(--mainColor);
  background: #fff;
  transition: 0.3s ease-in-out;
  border-radius: 0;
}
.btn-volver:hover {
  transform: scale(1.2);
  color: var(--secondaryColor);
}
.oops {
  animation: 1s mostrarDerecha;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  font-size: 38px;
}
.not-found {
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  font-size: 27px;
}
@keyframes mostrarIzquierda {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mostrarDerecha {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .oops {
    font-size: 25px;
  }
  .text-404 {
    font-size: 100px;
  }
}
