:root {
  --dark: #0a0a0a;
  --dark-x: #111111;
  --dark-xx: #222222;
  --light: #f3f3f3;
  --primary: #ff6079;
  --primary-x: #fe3051;
  --muted: #a1b0bf;
  --mainColor: #ff9800;
  --secondaryColor: #eb8e02;
}

.main-color {
  color: var(--mainColor);
}

.title-card {
  color: #1b1b1b;
}

.footer-copyright {
  border-top: 1px solid #222;
}

.bg-card {
  background-color: #fbfbfb;
}

.imagen {
  background-image: url("../img/foto-2.webp");
  background-size: cover;
  min-height: 100vh;
  background-color: rgb(10, 10, 10);
  background-blend-mode: soft-light;
  animation: slide 10s infinite;
}

.textoimagen {
  font-weight: 600;
  line-height: 80px;
}

.animado {
  opacity: 0;
  transition: all 0.5s;
}

.navbar {
  min-height: 110px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    background-image: url("../img/foto-2.webp");
  }

  33% {
    background-image: url("../img/foro-4.webp");
  }

  67% {
    background-image: url("../img/foto-5.webp");
  }
}

.hover-buttons:hover {
  background-color: var(--secondaryColor);
  color: #fff;
  transform: scale(1.4);
}

.hover-buttons {
  color: #f3f3f3;
  background-color: var(--mainColor);
  transition: 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.precio {
  font-size: 53px;
}

.plan {
  font-size: 17px;
}

.logo {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.logo-text {
  text-decoration: none !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
a:focus,
.btn:active,
a:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.btn-github {
  color: var(--mainColor);
  border-radius: 15px !important;
  border: 2px solid var(--mainColor);
  font-size: 15px;
  padding: 11px 15px !important;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 0.2rem 1rem 0.3rem rgba(255, 154, 23, 0.281) !important;
}

.btn-github:hover {
  color: #fff;
  background: #ff9800;
}

.btn__box {
  width: 125px;
  margin: auto;
}

input:focus {
  background-color: #fff !important;
  color: var(--mainColor) !important;
  border: 3px solid var(--mainColor) !important;
  transition: 0.3s ease-in-out;
}

input {
  color: var(--mainColor) !important;
  background-color: #fff !important;
  transition: 0.3s ease-in-out !important;
}

textarea {
  color: var(--mainColor) !important;
  background-color: #fff !important;
  height: 125px !important;
  transition: 0.3s ease-in-out !important;
}

textarea:focus {
  background-color: #fff !important;
  color: var(--mainColor) !important;
  border: 3px solid var(--mainColor) !important;
}

.comprar-btn:hover {
  background-color: var(--secondaryColor) !important;
}

.title-1 {
  font-size: 75px;
}
.parrafo {
  color: #fff;
  background-color: var(--mainColor);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 7px;
  text-align: center;
}
.arrow-effect {
  animation: flota 0.7s infinite;
}

.image-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #2e2e2e9f);
}

.image-box {
  margin: auto;
  height: 100px;
  width: 100px;
}

.image-box img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0.2rem 1rem 0.3rem rgb(0 255 254 / 35%) !important;
  transition: 0.3s ease-in-out;
}
.image-box img:hover {
  transform: translateY(-8px);
  filter: brightness(60%);
  box-shadow: 0 0.2rem 1rem 0.2rem rgb(0 255 254 / 35%) !important;
}

.image-shadow-3 {
  -webkit-filter: drop-shadow(5px 5px 25px #ff9800);
  filter: drop-shadow(5px 5px 15px #ff9800) brightness(60%);
}

.comprar-btn {
  transition: 0.3s ease-in-out;
  height: 47px !important;
  padding-top: 7px !important;
  color: #ffffff !important;
  font-weight: bold;
  background-color: #ff9800;
  border-radius: 50px !important;
}

.ls-none {
  list-style: none;
}

.btn-enviar {
  color: #fff !important;
  height: 58px !important;
  font-size: 21px;
  background: radial-gradient(
    ellipse farthest-corner at left top,
    #ff9800 30%,
    #9b5d00 100%
  );
  font-weight: bold;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark);
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 1.1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  outline: 1px solid var(--mainColor);
}

p::selection,
span::selection,
h1::selection,
li::selection,
ul::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
div::selection,
img::selection,
label::selection,
input::selection,
textarea::selection,
sup::selection,
s::selection {
  color: var(--mainColor);
  background: #fff;
}

.text-muted {
  color: var(--muted) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}
.btn {
  font-weight: 700;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.4rem;
}

.btn-primary {
  color: linear-gradient(90deg, var (--primary) 0%, var(--primary-x) 100%);
}

.btn-secondary-outline:hover {
  color: rgba(255, 255, 255, 0.637);
}

.shadow {
  box-shadow: 0 0.4rem 1.5rem 0.3rem rgba(0, 0, 0, 0.061) !important;
}

hr {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  width: 140px;
  border-radius: 1px;
}

.nav-active {
  background-color: #000000;
}

.card-hover:hover {
  transform: scale(1.15);
}

.card-hover {
  transition: 0.3s ease-in-out;
}

#button {
  width: 60px;
  height: 60px;
  background: var(--mainColor);
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease-in-out;
  transform: scale(0);
}

#button:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0, 0.1);
}

.cool-link {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}

.cool-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

span {
  color: var(--mainColor);
}

.img-hover3 {
  transition: 0.3s ease-in-out;
  height: 350px;
  object-fit: cover;
  object-position: 25%;
}

figure {
  overflow: hidden;
  margin: 0 0 30px;
}

figure:hover + span {
  height: auto;
  padding-bottom: 15px;
  bottom: -36px;
  opacity: 1;
}

.img-hover3:hover {
  filter: brightness(60%);
  transform: scale(1.2);
  opacity: 1;
}

.img-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  -webkit-filter: drop-shadow(5px 5px 15px #ff9800);
  filter: drop-shadow(5px 5px 25px #ff9800) brightness(100%);
}

.img-hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.texto-arriba {
  position: absolute;
}

.imagen-texto:hover {
  opacity: 1;
}

.imagen-texto:hover .image {
  opacity: 0.3;
}

.imagen-texto:hover .middle {
  opacity: 1;
}

#section-one {
  background-image: url("../img/editores-codigo-javascript.webp");
}

.middle {
  transition: 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.slide-effect {
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  font-size: 55px;
  color: #fff;
  height: 123px;
  justify-content: center;
}

.slide-text {
  color: var(--mainColor);
  font-size: 75px;
  font: bold;
  padding-left: 15px;
  margin: 0;
  animation: cambiar 7s infinite;
}

.slide-title {
  margin: 0;
  font-size: 75px;
}

.movil-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 34px;
}

.text-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.content-center {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-vermas {
  font-size: 26px;
  width: 175px;
  border-radius: 0;
}

.bg-wh {
  background-color: #f3f3f3;
}
.bg-wh2 {
  background-color: #fff;
}
.subtitle-1 {
  color: #1b1b1b;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.quien-soy {
  color: var(--mainColor);
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -110px;
  }
  50% {
    margin-top: -110px;
  }
  55% {
    margin-top: -223px;
  }
  75% {
    margin-top: -223px;
  }
  80% {
    margin-top: -110px;
  }
  95% {
    margin-top: -110px;
  }
  100% {
    margin-top: 0;
  }
}

.blur-navbar {
  transition: 0.45s ease-in-out;
  background-color: #0000003f;
  backdrop-filter: blur(0.8rem);
}

input:hover {
  border: 3px solid #ff9800;
}

textarea:hover {
  border: 3px solid #ff9800;
}

@media (max-width: 1200px) {
  .img-hover3 {
    height: 225px;
  }
}

@media (max-width: 1092px) {
  .blur-navbar {
    background: #0a0a0a;
  }
}

@media screen and (max-width: 992px) {
  .img-hover3 {
    height: 165px;
  }
  .slide-effect {
    height: 80px;
    font-size: 40px;
  }

  .slide-text {
    font-size: 55px;
    animation: none;
  }

  .slide-title {
    font-size: 55px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .img-hover3 {
    height: auto;
  }

  .btn-vermas {
    font-size: 18px;
    width: 117px;
  }

  .title-1 {
    font-size: 55px;
  }

  .card-hover:hover {
    transform: none;
  }

  .movil-text {
    font-size: 18px;
  }

  .slide-effect {
    height: 150px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }

  .web-des {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .web-dev {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .slide-text {
    font-size: 55px;
    animation: none;
  }

  .slide-title {
    font-size: 35px;
    text-align: center;
  }

  .imagen {
    animation: none;
  }
}

.blur-navbar::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  filter: blur(1rem);
}

.blur-navbar {
  transition: 0.45s ease-in-out;
}

.content-center {
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

.arrow-effect {
  animation: none;
}

.arrow-size {
  font-size: 35px;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.img-text {
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background-color: #0a0a0a;
  color: #fff;
  border-radius: 15px;
}

.img-text h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-text p {
  font-size: 14px;
}

.single-box {
  position: relative;
  margin-bottom: 30px;
}

.img-area {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 15px;
  left: 125px;
  border-radius: 50%;
}

.img-area img {
  width: 100%;
}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
}

.carousel-indicators li {
  background: #222222c7;
  border-radius: 100%;
  width: 20.5px;
  height: 0.5px;
}

.carousel-indicators .active {
  background: var(--mainColor);
}

.red-social {
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.red-social2 {
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.3s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.red-social:hover {
  color: #fff !important;
  border: 2px solid #fff;
}

.red-social2:hover {
  color: #fff !important;
  border: 2px solid #fff;
}

.contact-icons {
  color: #fff;
  font-size: 22px;
  background: radial-gradient(
    ellipse farthest-corner at left top,
    #ff9800 30%,
    #b96f00 100%
  );
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
  width: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-text {
  margin-left: 15px;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 460px) {
  .contact-text p {
    font-size: 11.5px;
  }

  .slide-effect {
    height: 120px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }

  .btn-vermas {
    margin-top: 15px;
  }

  .web-dev {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .web-des {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .slide-text {
    font-size: 38px;
    animation: none;
  }

  .movil-text {
    font-size: 16px;
    margin: 0 !important;
  }

  .slide-title {
    font-size: 25px;
    text-align: center;
  }
}
