:root {
  --dark: #0a0a0a;
  --dark-x: #111111;
  --dark-xx: #222222;
  --light: #f3f3f3;
  --primary: #ff6079;
  --primary-x: #fe3051;
  --muted: #a1b0bf;
  --mainColor: #ff9800;
  --secondaryColor: #eb8e02;
}

.hover-buttons:hover {
  background-color: var(--secondaryColor);
  color: #fff;
  transform: scale(1.4);
}

.hover-buttons {
  color: #f3f3f3;
  background-color: var(--mainColor);
  transition: 0.3s;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
a:focus,
.btn:active,
a:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

input:focus {
  background-color: #fff !important;
  color: var(--mainColor) !important;
  border: 3px solid var(--mainColor) !important;
}

input {
  color: var(--mainColor) !important;
  background-color: #fff !important;
}

textarea {
  color: var(--mainColor) !important;
  background-color: #fff !important;
}

textarea:focus {
  background-color: #fff !important;
  color: var(--mainColor) !important;
  border: 3px solid var(--mainColor) !important;
}

.comprar-btn:hover {
  background-color: var(--secondaryColor) !important;
}

.arrow-effect {
  animation: flota 0.7s infinite;
}

.image-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #2e2e2e9f);
}

@keyframes flota {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: 0;
  }
  50% {
    margin-top: -15px;
  }
  55% {
    margin-top: -15px;
  }
  75% {
    margin-top: -15px;
  }
  80% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0;
  }
}

.comprar-btn {
  transition: 0.3s;
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark);
  background-color: #fff;
}

.text-muted {
  color: var(--muted) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}
.btn {
  font-weight: 700;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.4rem;
}

.btn-primary {
  color: linear-gradient(90deg, var (--primary) 0%, var(--primary-x) 100%);
}

.btn-secondary-outline:hover {
  color: rgba(255, 255, 255, 0.637);
}

.shadow {
  box-shadow: 0 0.4rem 1.5rem 0.3rem rgba(0, 0, 0, 0.061) !important;
}

hr {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  width: 140px;
  border-radius: 1px;
}

.nav-active {
  background-color: #000000;
}

.card-hover:hover {
  transform: scale(1.15);
}

.card-hover {
  transition: 0.3s;
}

#button {
  width: 60px;
  height: 60px;
  background: var(--mainColor);
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}

#button:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0, 0.1);
}

.cool-link {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

.cool-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

span {
  color: var(--mainColor);
}

.parallax {
  background: fixed no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgb(22, 22, 22);
}

.img-hover:hover {
  cursor: pointer;
  filter: brightness(40%) blur(0.05rem);
  transform: scale(1.1);
  opacity: 1;
}

.img-hover2:hover {
  cursor: pointer;
  filter: brightness(40%) blur(0.05rem);
  transform: scale(1.1);
  opacity: 1;
}

.img-hover {
  opacity: 1;
  transition: 0.3s;
}

.img-hover2 {
  opacity: 1;
  transition: 0.3s;
}

.texto-arriba {
  position: absolute;
}

.imagen-texto:hover {
  opacity: 1;
}

.imagen-texto:hover .image {
  opacity: 0.3;
}

.imagen-texto:hover .middle {
  opacity: 1;
}

#section-one {
  background-image: url("../img/editores-codigo-javascript.webp");
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.slide-effect {
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  font-size: 55px;
  color: #fff;
  height: 79px;
  justify-content: center;
}

.slide-text {
  color: var(--mainColor);
  font-size: 55px;
  font: bold;
  padding-left: 9px;
  margin: 0;
  animation: cambiar 7s infinite;
}

.slide-title {
  margin: 0;
  font-size: 55px;
}

.content-center {
  padding: 0;
  justify-content: center;
  align-items: center;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -82px;
  }
  50% {
    margin-top: -82px;
  }
  55% {
    margin-top: -165px;
  }
  75% {
    margin-top: -165px;
  }
  80% {
    margin-top: -82px;
  }
  95% {
    margin-top: -82px;
  }
  100% {
    margin-top: 0;
  }
}

.arrow-size {
  font-size: 55px;
}

.blur-navbar {
  transition: 0.45s;
}

input:hover {
  border: 3px solid #ff9800;
}

textarea:hover {
  border: 3px solid #ff9800;
}

@media (max-width: 768px) {
  .card-hover:hover {
    transform: none;
  }

  .slide-effect {
    height: 35px;
    font-size: 25px;
  }

  .slide-text {
    font-size: 25px;
    animation: none;
  }

  .slide-title {
    font-size: 25px;
  }

  .blur-navbar::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    filter: blur(1rem);
  }

  .blur-navbar {
    transition: 0.45s;
  }

  .movil-text {
    font-size: 19px;
  }

  .content-center {
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }

  .arrow-effect {
    animation: none;
  }

  .arrow-size {
    font-size: 35px;
  }

  @keyframes flota-movil {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: 0;
    }
    50% {
      margin-top: -15px;
    }
    55% {
      margin-top: -15px;
    }
    75% {
      margin-top: -15px;
    }
    80% {
      margin-top: -15px;
    }
    100% {
      margin-top: 0;
    }
  }

  @keyframes cambiar-movil {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -37px;
    }
    50% {
      margin-top: -37px;
    }
    55% {
      margin-top: -76px;
    }
    75% {
      margin-top: -76px;
    }
    80% {
      margin-top: -37px;
    }
    95% {
      margin-top: -37px;
    }
    100% {
      margin-top: 0;
    }
  }
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.img-text {
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background-color: #0a0a0a;
  color: #fff;
  border-radius: 15px;
}

.img-text h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-text p {
  font-size: 14px;
}

.single-box {
  position: relative;
  margin-bottom: 30px;
}

.img-area {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 15px;
  left: 125px;
  border-radius: 50%;
}

.img-area img {
  width: 100%;
}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
}

.carousel-indicators li {
  background: #222222c7;
  border-radius: 100%;
  width: 20.5px;
  height: 0.5px;
}

.carousel-indicators .active {
  background: var(--mainColor);
}

.error-404 {
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

.text-404 {
  font-size: 250px;
  animation: 1s mostrarIzquierda;
}

@keyframes mostrarIzquierda {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}

.oops {
  animation: 1s mostrarDerecha;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}

.bg-linear {
  background: linear-gradient(
    -50deg,
    var(--mainColor),
    var(--secondaryColor),
    #c77700
  );
}

.btn-volver {
  color: var(--mainColor);
  background: #fff;
  transition: 0.3s;
  border-radius: 0;
}

.btn-volver:hover {
  transform: scale(1.2);
  color: var(--secondaryColor);
}

@media (max-width: 768px) {
  .oops {
    font-size: 25px;
  }

  .text-404 {
    font-size: 100px;
  }
}

.red-social {
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.red-social2 {
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.red-social:hover {
  color: #fff !important;
  border: 2px solid #fff;
}

.red-social2:hover {
  color: #fff !important;
  border: 2px solid #fff;
}

.contact-icons {
  color: #fff;
  font-size: 22px;
  background: radial-gradient(
    ellipse farthest-corner at left top,
    #ff9800 30%,
    #b96f00 100%
  );
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
  width: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-text {
  margin-left: 15px;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
